<h1>Listing all</h1>

<p>
	<%= link_to "Create a Todo", new_list_path %>
</p>

<table>
	<tr>
		<th>Name</th>
		<th>Description</th>
	</tr>
	<% @lists.each do |list| %>
	<tr>
	<td><%= list.name %></td>
	<td><%= list.description %></td>
	<td><%= link_to "Edit", edit_list_path(list) %></td>
	<td><%= link_to "Show", list_path(list) %><td>
	<% end %>
	</tr>
</table>